<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Book</mat-label>
    <input
      placeholder="Search a book"
      aria-label="book"
      matInput
      [formControl]="searchTerm"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option
        *ngFor="let book of books$ | async"
        [value]="book?.volumeInfo?.title"
      >
        <div *ngIf="book" class="options">
          <img
            class="example-option-img"
            aria-hidden
            [src]="book?.volumeInfo?.imageLinks?.thumbnail"
            height="50"
          />
          <span>{{ book?.volumeInfo?.title }}</span> |
          <ng-container *ngFor="let author of book?.volumeInfo?.authors"
            ><small>Authors: {{ author }}</small></ng-container
          >
        </div>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <!-- <div class="col-100 py-20">
    <ul class="list-group">
      <ng-container *ngFor="let book of books$ | async">
        <li class="list-item" *ngIf="book?.volumeInfo?.imageLinks">
          <p>
            {{ book?.volumeInfo?.title }}
          </p>
          <img [src]="book?.volumeInfo?.imageLinks?.thumbnail" />
        </li>
      </ng-container>
    </ul>
  </div> -->
</form>
